<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id = "practice">
        <ol>
            <li v-for = "animal in animals">
                {{ animal }}
            </li>
        </ol>
        <div>
            <p>{{ message }}</p>
            <button v-on:click="changeText">Click Me</button>
        </div>
        <div>
            <p>{{ input_message }}</p>
            <input v-model="input_message">
        </div>
    </div>

    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>

    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/sample.js"></script>
</body>
</html>