<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="css/capters.css">
    <title>chapter3</title>
</head>
<body>

    <div id="app">
        <div v-on:click.right="handler">example</div>
        <!-- 右ボタンを押した時のコンテキストメニューを表示させない -->
        <div v-on:click.right.prevent="handler">example</div>

        <button v-on:click="show=!show">切り替え</button>
        <transition>
            <p v-if="show">Hello Vue.js!</p>
        </transition>

        <input type="file" v-on:change="handleChange">
        <div v-if="preview"><img v-bind:src="preview"></div>

    </div>

    <div id="app2" v-cloak>
        {{ message }}
    </div>

<!--    <div id="app3">-->
<!--        <ul>-->
<!--            <li v-for="(item, index) in list" v-bind:key="item.id">-->
<!--                ID.{{ item.id }} {{ item.name }} HP.{{ item.hp }}-->
<!--            </li>-->
<!--        </ul>-->
<!--    </div>-->

    <div id="app4">
        <header v-bind:class="{ compact: scrollY > 200 }">
            200pxより下にスクロールしたら .compactを付与

        </header>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script type="text/javascript" src="js/chapter3.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/smooth-scroll@12.1.5"></script>
<!--    <script src="https://cdn.jsdelivr.net/npm/axios@0.17.1/dist/axios.min.js"></script>-->
<!--    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->
</body>
</html>