<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>practice1</title>
    <link rel="stylesheet" type="text/css" href="css/practice.css">
</head>
<body>
<div id="practice">
    <!-- chapter1 -->
    <div id="chapter-1">
        <!-- 復習 -->
        <div>
            <p>{{ comment }}</p> <!--テキストのバインディング -->
            <ol>
                <li v-for="fruit in fruits">{{ fruit }}</li> <!-- for文を使用して配列を表示 -->
            </ol>
            <ol>
                <li v-for="animal in animals"> <!-- 連想配列を表示 -->
                    {{ animal.id }}
                    {{ animal.name }}
                    {{ animal.size }}
                    <span v-if="animal.size == 'large'" v-bind:class="color">でかい</span>
                </li>
            </ol>
            <div>
                <button v-on:click="alert">call alert</button> <!-- 関数の呼び出し -->
            </div><br>
            <div>
                <input type="text" v-model="text"> <!-- フォーム入力と同期（dataの値も書きかえられる） -->
                <p>{{ text }}</p>
            </div>
            <div>
                <button v-on:click="ok = !ok"> <!-- true/falseの切り替え -->
                    click me
                </button>
                <p v-if="ok">{{ comment }}</p> <!-- 条件分岐 -->
                <p v-show></p>
            </div>
        </div>
    </div><hr>

    <!-- chapter2 -->
    <div id="chapter-2">
        <div>
            <button v-on:click = "addNum">increase</button>
            <span v-for="star in count">★</span>
            <p>counting starts: {{count}}</p>
        </div>
        <div><!-- ボタン押下でclassのtrue/falseを切り替え。　 -->
            <button v-on:click="addColor = !addColor">Change text color</button>
            <p v-bind:class ="{color:addColor}">Change Color</p><!-- 'color'というclassの存在を切り替え -->
            <p>Static Color</p>
        </div>
        <div><!-- ボタン押下でクラスを追加するメソッドの呼び出し -->
            <button v-on:click="addClass">Add Class function</button>
            <!-- 初期値は''のためクラスがない。メソッドが実行されcssセレクターが追加され、classが反映される-->
            <p v-bind:class="addColor2">Change Color</p>
        </div>
        <div>
            <input type="text" v-model:value="name">
            <button v-on:click="addMonster">ポケモンを追加</button>
            <ol>
                <li v-for="(monster, index) in monsters">
                    <div>{{ monster.name }} hp:{{ monster.hp }}
                        <button v-on:click="deleteMonster(index)">ポケモンを削除</button>
                        <button v-on:click="attackMonster(index)">攻撃する</button>
                    </div>
                </li>
            </ol>
        </div>
        <pre>{{ $data }}</pre>
        <div v-bind:text-content.prop="message">prop</div>
    </div><hr>

    <div id="practice-1">
        <h3>配列とオブジェクト</h3>
        <h4>配列</h4>
        <pre>fruits: {{ fruits }}</pre>
        <ol>
            <li v-for="fruit in fruits"> {{ fruit }} </li>
        </ol>
        <pre>apples: {{ apples }}</pre>
        <ol>
            <li v-for="apple in apples"> {{ apple }} </li>
        </ol>

        <h4>配列の中にオブジェクト</h4>
        <pre>apples2: {{ apples2 }}</pre>
        <ol>v-for="apple in apples2"
            <li v-for="apple in apples2">
                {{ apple }}
                 apple.name = {{ apple.name }}
                 apple.color = {{ apple.color }}
                 apple.size = {{ apple.size }}
            </li>
        </ol>

        <h4>オブジェクト</h4>
        <p>紅玉: {{ 紅玉 }}</p>
        <p>紅玉.id　{{ 紅玉.id }}</p>

        <h4>オブジェクトの中に配列</h4>
        <p>apple: {{ apple }}</p>
        <p>apple.name: {{ apple.name }}</p>
        <ul>v-for="value in apple"
            <li v-for="value in apple">{{ value }}</li>
        </ul>

        <h4>オブジェクトのプロパティの値にオブジェクトを持たせる</h4>
        <pre>apples3: {{ apples3 }}</pre>
        <ol>v-for="apple in apples3"　オブジェクトの中のオブジェクトを回して出力
            <li v-for="apple in apples3">{{ apple }}</li>
        </ol>
        <p>apples3.紅玉　{{ apples3.紅玉 }}</p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script type="text/javascript" src="js/practice1.js"></script>
</body>
</html>